*{
    margin:0px;
    padding:0px;
}
.introduction{
    width:100%;
    height:100%;
}
.intro-align{
    margin:20px 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(75, 69, 69);
}
.intro-align h3{
    margin-bottom: 10px;
    color:rgb(46, 45, 45);
}
.intro-align p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;

}
.intro-align h2{
    margin: 50px 0;
    text-align: center;

}
.intro-align img{
    margin: 10px 0;

}
.color-purple{
    color: purple;
}
.intro-mid{
    margin-left: 30px;
}
.intro-mid ul li{
    margin:5px 0;
}
.left-margin{
    margin-left: 30px;
}
.intro-align table{
    width:50%;
}
.intro-align table th{
    padding:20px;
}
.intro-align table td{
    padding:20px;
}
.table table{
    /* border-collapse: collapse; */
    width: 100%;
}
.table table th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.table table th{
    background-color: #f2f2f2;
}

@media only screen and (max-width:549px) {
    .intro-align table{
        width:200px;
    }
}